body {
	margin: auto;
	font-family: sans-serif;
}

input {
	border: #828282 solid 1px;
}

.right {
	float: right;
}

.menu {
	background-color: #3a995a;
	overflow: hidden;
}

.menu a {
	padding: 0.7ex 1ex;
	color: #fff;
	text-decoration: none;
	float: left;  
        font-size: 16px;
        color: white;
        text-align: center;
}

.menu a:hover {
	background-color: #bf665b;
	cursor: pointer;
}

#times {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
